@import url("https://fonts.googleapis.com/css?family=Lato" rel="stylesheet");

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	display: none;
}

.white-color {
	color: #fff;
}

.text-uppercase {
	text-transform: uppercase;
}

.flexbox-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.cover-image {
	background-size: cover;
}

.pointer {
	cursor: pointer;
}

.slogan-properties {
	text-align: center;
	max-width: 900px;
	position: relative;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

.before-element:before {
	content: '______________________________';
	background-color: black;
	position: absolute;
	max-height: 1px;
	left: 0px;
}

.after-element:after {
	content: '______________________________';
	background-color: black;
	position: absolute;
	height: 1px;
	right: 0px;
	top: 0;
}

.paragraph-size {
	font-size: 1.3rem;
}

.jumbotron {
	min-height: 100vh;
	background-image: url("../images/main.png");
} 

.jumb-slogan {
	text-align: center;
	max-width: 900px;
	padding: 30px;
} 

.jumb-slogan i {
	font-size: 4rem;
}

.jumb-slogan h2 {
	font-size: 2.7rem;
	padding: 10px;
}

.jumb-slogan p {
	font-size: 2rem;
}

.about, .services, .contact {
	min-height: 70vh;
	padding: 40px 25px;
}

.about-slogan p:last-child, .about-slogan h3 {
	padding: 10px 120px;
}

.about-slogan p:nth-child(2) {
	padding: 0 60px;
}

.about-slogan h3, .services-slogan h3, .we-do-slogan > h3, .contact-slogan h3 {
	margin-top: -24px;
	font-size: 2rem;
}

.services-slogan:before {
	background-color: #fff;
}

.services-slogan:after {
	background-color: #fff;
}

.services {
	background-image: url("../images/services.png");
}

.services-slogan h3 {
	margin-top: -11px;
}

.services-slogan p:nth-child(2) {
	padding-top: 30px;
}

.services-slogan p:last-child {
	padding-bottom: 30px;
}

.we-do {
	min-height: 160vh;
	padding: 90px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}

.we-do-slogan > h3 {
	margin-top: -11px;
}

.we-do-slogan > div {
	padding: 30px 0;
}

.we-do-slogan > div p {
	padding: 0 20px;
}

.we-do i {
	font-size: 3rem;
}

.we-do-slogan > div h3 {
	font-size: 1.6rem;
}

.images-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.images-section > div {
	min-width: 445px;
	min-height: 300px;
	margin: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.first-img {
	background-image: url("../images/1.png");
}

.second-img {
	background-image: url("../images/2.png");
}

.third-img {
	background-image: url("../images/3.png");
}

.fourth-img {
	background-image: url("../images/4.png");
}

.fifth-img {
	background-image: url("../images/5.png");
}

.sixth-img {
	background-image: url("../images/6.png");
}

.images-section div h3 {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 0 30px;
	font-size: 2rem;
}

.contact-slogan h3 {
	margin-top: -12px;
}

.contact-slogan p {
	padding: 30px;
}

.btn-class {
	padding-bottom: 40px;
}

.btn-class button {
	padding: 10px 25px;
	margin: 10px;
	border-radius: 5%;
	background-color: #000;
	border: none;
}

footer {
	text-align: center;
	font-size: 2rem;
	background-color: #000;
	padding: 20px;
}

@media (max-width: 1299px) {

	.col-m-6 {
		width: 100%;
	}
} 

@media (max-width: 700px) {

	.paragraph-size {
		font-size: 0.7rem;
	}

	.jumb-slogan i {
		font-size: 2.4rem;
	}

	.jumb-slogan h2 {
		font-size: 1.5rem;
	}

	.jumb-slogan p, .we-do-slogan > div h3, .images-section div h3 {
		font-size: 1rem;
	}

	.about-slogan h3, .services-slogan h3, .we-do-slogan > h3, .contact-slogan h3 {
		margin: 0;
		font-size: 1.6rem;
	}

	.slogan-properties {
		border: none;
	}

	.before-element:before, .after-element:after {
		display: none;
	}

	.about-slogan p:last-child, .about-slogan h3, .about-slogan p:nth-child(2) {
		padding: 0 30px;
	}

	.services-slogan p {
		padding: 0;
	}

	.services-slogan p:nth-child(2), .services-slogan p:last-child {
		padding-top: 10px;
	}

	.we-do-slogan > div {
		padding: 25px 0;
	}

	.we-do-slogan > div p, .contact-slogan p {
		padding: 0 10px;
	}

	.we-do {
		min-height: 100vh;
	}

	.images-section > div {
		min-width: 300px;
	}

	.btn-class button {
		padding: 7px 12px;
		font-size: 0.6rem;
	}
}

@media (max-width: 400px) {

	.images-section > div {
		min-width: 200px;
	}
}
